#container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: lightgreen;
    width: 400px;
    height: 500px;
    border-radius: 20px;
}

h1 {
    color: orangered;
}